

body {
  margin: 0;
  height: 100%;
  font-family: 'Andika New Basic', sans-serif !important;
}

footer {
  position: relative;
  background-color: #7D1917;
  color:#fff;
  padding: 20px 0 10px 0;
}

footer svg {
  width: 50%;
  color: #fff;
}

footer .row {
  text-align: center;
}


.topnav {
  overflow: hidden;
  background-color: #891B17;
  color:#fff;
}

.topnav .nav-link {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .nav-link:hover {
  color: #FCF3D7;
  cursor: pointer;
}


.topnav .nav-link.active {
  /* background-color: rgba(240,221,196,1); */
  /* color: black; */
  /* padding-bottom: 20px; */
}

.topnav-right {
  float: right;
}

.topnav-right h3 {
  margin-right: 25px;
  float: left;
}

.lien {
  transition: 0.3s ease;
  /* background-color: #891B17;
  color: #09371F;
  text-decoration: none; */
  /* border-top: 4px solid #FBFBF3;
  border-bottom: 4px solid #FBFBF3; */
}
.lien:hover {
  border-top: 3px solid #077b8a;
  border-bottom: 3px solid #077b8a;
  /* margin-top: 5px; */
  margin: 3px 0 3px 0;
}
